/* placeholder font */
h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    background-color: hsl(0, 0%, 100%);
    padding: 4% 10% 10% 10%; /* top right bottom left */
}

footer {
    background-color: rgb(251, 163, 176);
}

/* ids styling */
#title {
    background-color: rgb(251, 163, 176);
}
